/* Couleur du projet */
/* couleur de fond */
/* couleur texte */
/* couleur d'effet */
/* contour */
/* general */
html {
  font-family: "Roboto", sans-serif;
}
html h1 {
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: 500;
}
html h3 {
  font-size: 18px;
  margin: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
html a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0%;
}

/* image menu */
.img_palette {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

.img_lanote {
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

.img_franc {
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

.img_delice {
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.loader {
  background-color: rgba(245, 244, 244, 0.8);
  position: fixed;
  inset: 0;
  z-index: 1;
  height: 100%;
  animation: loading 2.7s ease-in forwards;
}
.loader h1 {
  position: absolute;
  font-size: 35px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: texte 1s forwards;
}
.loader_lettre .lettre_1 {
  top: -10%;
  right: 0;
  bottom: 0;
  left: -90px;
  animation-delay: 1.6s;
}
.loader_lettre .lettre_2 {
  top: -10%;
  right: 0;
  bottom: 0;
  left: -65px;
  animation-delay: 1.4s;
}
.loader_lettre .lettre_3 {
  top: -10%;
  right: 0;
  bottom: 0;
  left: -35px;
  animation-delay: 1.2s;
}
.loader_lettre .lettre_4 {
  top: -10%;
  right: 0;
  bottom: 0;
  left: -6px;
  animation-delay: 1s;
}
.loader_lettre .lettre_5 {
  top: -10%;
  right: 0;
  bottom: 0;
  left: 12px;
  animation-delay: 0.8s;
}
.loader_lettre .lettre_6 {
  top: -10%;
  right: 0;
  bottom: 0;
  left: 30px;
  animation-delay: 0.6s;
}
.loader_lettre .lettre_7 {
  top: -10%;
  right: 0;
  bottom: 0;
  left: 53px;
  animation-delay: 0.4s;
}
.loader_lettre .lettre_8 {
  top: -10%;
  right: 0;
  bottom: 0;
  left: 76px;
  animation-delay: 0.2s;
}
.loader_cercle {
  position: absolute;
  border-top: 7px solid #9356DC;
  border-right: 7px solid #99e2d0;
  border-bottom: 7px solid #FF79DA;
  border-left: 7px solid #99e2d0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: auto;
  top: 5%;
  right: 0;
  bottom: 0;
  left: 0;
  animation: anim 1.7s linear infinite;
}

@keyframes anim {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes texte {
  20% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(110%, 0);
  }
}
@keyframes loading {
  70% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -100%);
  }
}
/* Bouton validation */
.btn_valid {
  width: 200px;
  height: 40px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: #ffffff;
  border-radius: 20px;
  margin: 15px 0 30px 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}
.btn_valid:hover {
  opacity: 0.8;
  box-shadow: 0px 5px 15px 5px #d6d6d6;
}

/* bouton du filtre */
.btn {
  width: 90%;
  min-width: 280px;
  max-width: 350px;
  height: 70px;
  background-color: #f5f4f4;
  border-radius: 20px;
  margin: 15px 0 15px 0;
  box-shadow: 0px 5px 15px 2px #d6d6d6;
  display: flex;
  align-items: center;
}
@media (min-width: 1024px) {
  .btn {
    margin: 15px 20px 15px 20px;
  }
}
.btn:hover {
  background-color: rgba(147, 86, 220, 0.2);
}
.btn:hover i {
  color: #9356DC;
}
.btn_chiffre {
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  border-radius: 20px;
  color: #ffffff;
  margin-left: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn i {
  margin: 0 25px 0 25px;
  opacity: 0.8;
}

/* Bouton favoris menu */
.far {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
  width: 27px;
  cursor: pointer;
  transition: all 1s;
  z-index: 0;
}
.far .fa-solid {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
  width: 27px;
  height: 0px;
  cursor: pointer;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.5s;
  z-index: 1;
}
.far:hover {
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.far:hover .fa-solid {
  width: 27px;
  height: 27px;
}

/* header */
header {
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px black;
}
header .header_arrow {
  font-size: 30px;
  margin-left: 30px;
  position: absolute;
}
header .header_logo {
  width: 200px;
  display: block;
  margin: auto;
}

.localisation {
  height: 320px;
}
.localisation .formulaire {
  height: 60px;
  font-size: 18px;
  font-weight: 600;
  background-color: #d8dad9;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.localisation .formulaire_logo {
  margin-right: 20px;
  font-size: 22px;
}
.localisation .explorer {
  text-align: center;
  height: auto;
  background-color: #f5f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.localisation .explorer h2 {
  width: 60%;
}
.localisation .explorer p {
  width: 80%;
}
.localisation .explorer a {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Section fonctionnement */
.fonctionnement {
  margin-bottom: 30px;
  padding: 20px;
}
.fonctionnement_menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  .fonctionnement_menu {
    display: flex;
    flex-direction: column;
  }
}
.fonctionnement_menu span {
  font-weight: bold;
}

/* Section restaurant page de garde */
.section_restaurant {
  background-color: #f5f4f4;
  padding: 20px;
}
.section_restaurant_article {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.section_restaurant_article .carte {
  box-shadow: 0px 5px 15px 2px #d6d6d6;
  border-radius: 15px;
  background-color: #ffffff;
  width: 100%;
  min-width: 300px;
  max-width: 500px;
  margin: 10px;
  /* bloc texte des cartes de la page de garde */
}
@media (min-width: 1680px) {
  .section_restaurant_article .carte {
    width: 400px;
  }
}
.section_restaurant_article .carte_img {
  position: relative;
  height: 175px;
  border-radius: 15px 15px 0 0;
  background-position: center;
  background-size: cover;
  width: auto;
}
.section_restaurant_article .carte_img span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 80px;
  height: 35px;
  background-color: #99e2d0;
  color: #2c9c81;
  font-weight: bold;
}
.section_restaurant_article .carte_bloc {
  min-width: 160px;
  position: relative;
}
.section_restaurant_article .carte_bloc_text {
  align-items: flex-start;
  padding: 10px;
  flex-direction: column;
}
.section_restaurant_article .carte_bloc_text p {
  font-size: 18px;
  margin: 5px;
}
.section_restaurant_article .carte_bloc_absolut {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* footer */
footer {
  background-color: #424847;
  height: 200px;
  padding: 20px;
}
footer h4 {
  font-family: "Shrikhand";
  font-size: 24px;
  font-weight: lighter;
  margin: 20px 0 20px 0;
  color: #ffffff;
}
footer ul {
  list-style-type: none;
}
footer ul a {
  color: #ffffff;
  width: fit-content;
  margin: 10px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer ul a i {
  margin-right: 10px;
  width: 18px;
}

.main {
  background-color: #f5f4f4;
}
.main h1 {
  margin-right: 50px;
}
.main h2 {
  font-size: 18px;
}
.main h2::after {
  content: ".";
  display: block;
  border-bottom: 4px solid #99e2d0;
  width: 45px;
  margin-top: 5px;
  font-size: 0px;
}
.main_img {
  height: 250px;
  border-radius: 0;
  background-position: center;
  background-size: cover;
  width: auto;
}
.main_restau {
  background-color: #f5f4f4;
  margin-top: -40px;
  border-radius: 35px 35px 0 0;
  position: relative;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 599px) {
  .main_restau {
    justify-content: center;
  }
}
.main .section {
  justify-content: center;
}
@media (min-width: 1024px) {
  .main .section {
    display: flex;
  }
}
.main .section_bloc {
  margin-bottom: 1%;
  background-color: #f5f4f4;
  padding: 20px;
}
@media (min-width: 1024px) {
  .main .section_bloc {
    width: 30%;
    flex-direction: row;
  }
}
.main .section_bloc .carte {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.main .section_bloc .carte_plat {
  width: 100%;
  max-width: 680px;
  height: 70px;
  margin: 10px 0 10px 0;
  cursor: pointer;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 5px 15px 2px #d6d6d6;
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: menuanimation 1.5s both;
}
.main .section_bloc .carte_plat_texte {
  width: 85%;
  padding: 5px 0 5px 10px;
  font-size: 14px;
  margin: 5px;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}
.main .section_bloc .carte_plat_texte p {
  font-size: 16px;
  margin: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main .section_bloc .carte_plat_prix {
  width: 15%;
  font-weight: bold;
}
.main .section_bloc .carte_plat_prix p {
  text-align: right;
  margin: 32px 15px 0 0;
}
.main .section_bloc .carte_plat_okmenu {
  display: inline-block;
  width: 0px;
  overflow: hidden;
  height: 100%;
  background-color: #99e2d0;
  color: #ffffff;
  font-size: 24px;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}
.main .section_bloc .carte_plat:hover .carte_plat_okmenu {
  width: 80px;
}
.main .section_bloc .carte_plat:hover .carte_plat_okmenu i {
  transform: rotateZ(-360deg);
  transition: 0.3s;
}
.main .section_bloc .plat_1 {
  animation-delay: 0.2s;
}
.main .section_bloc .plat_2 {
  animation-delay: 0.4s;
}
.main .section_bloc .plat_3 {
  animation-delay: 0.6s;
}
.main .section_bloc .plat_4 {
  animation-delay: 0.8s;
}
.main .btn_validateur {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes menuanimation {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
