/* Bouton validation */
.btn_valid {
    width: 200px;
    height: 40px;
    background: linear-gradient(to bottom right, $secondaire, $primaire);
    color: $fondtext;
    border-radius: $btnraduis;
    margin: 15px 0 30px 0;
    font-size: 14px;
    @include flexcenter;
    transition: transform 0.2s;
    &:hover{
        opacity: 0.8;
        box-shadow: 0px 5px 15px 5px $shadow;
    }
}
/* bouton du filtre */
.btn{
    width: 90%;
    min-width: 280px;
    max-width: 350px;
    height: 70px;
    background-color: $fondgris;
    border-radius: $btnraduis;
    margin: 15px 0 15px 0;
    @include shadow;
    @include flex;
    @media (min-width: 1024px){
        margin: 15px 20px 15px 20px;
    }
    &:hover{
        background-color: $primaire-opaque;
        i{
        color: $primaire;
        }
    }
    &_chiffre{
        width: 25px;
        height: 25px;
        background-color: $primaire;
        border-radius: $btnraduis;
        color: $fondtext;
        margin-left: -15px;
        @include flexcenter;
    }
    i{
        margin: 0 25px 0 25px;
        opacity: 0.8;
    }
}
/* Bouton favoris accueil */
.carte_bloc{
    &_absolut{
        position: absolute;
        top: 20px;
        right: 20px;
        .far{
            position: relative;
            @include coeur;
            .fa-solid{
                position: absolute;
                @include coeurplein;
            }
        }
    }
    
}
/* Bouton favoris menu */
    .far{
        position: relative;
        @include coeur;
        .fa-solid{
            position: absolute;
            @include coeurplein;
        }
    }