/* general */
html{
    font-family: $text;
    h1{
        font-family: $titre;
        font-size: 28px;
        font-weight: 500;
    }
    h3{
        font-size: 18px;
        margin: 5px 0 5px 0;
    }
    a{
	    text-decoration: none;
	    color: $lien;
    }
}
body{
    margin: 0%;
}