@mixin btn_valid {
    background: linear-gradient(to bottom right, $secondaire, $primaire);
    border-radius: 50px 50px 50px 50px;
    margin: 15px 0 30px 0;
    font-size: 14px;
    color: $fondtext;
    width: 200px;
    height: 40px;
    @include flexcenter;
}
@mixin btn_hover {
    width: 80px;
    height: 100%;
    font-size: 22px;
    cursor: pointer;
    border-radius: 0 15px 15px 0;
    color:$fondtext;
    background-color: $tertiare;
}
@mixin padding_bloc {
    padding: 20px;
}
@mixin shadow {
    box-shadow: 0px 5px 15px 2px $shadow;
}
@mixin block_img {
    background-position:center;
    background-size: cover;
    width: auto;
}
@mixin flex {
    display: flex;
    align-items: center;
}
@mixin flexcolonne{
    display: flex;
    flex-direction: column;
}
@mixin flexcenter{
    @include flex;
    justify-content: center;
}
@mixin flexbetween{
    @include flex;
    justify-content: space-between;
}