@mixin btn_hover {
    width: 80px;
    height: 100%;
    background-color: $tertiare;
    color:$fondtext;
    font-size: 22px;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}
@mixin padding_bloc {
    padding: 20px;
}
@mixin shadow {
    box-shadow: 0px 5px 15px 2px $shadow;
}
@mixin block_img {
    background-position:center;
    background-size: cover;
    width: auto;
}
@mixin coeur {
    text-align: center;
    font-size: 27px;
    width: 40px;
    position: absolute;
    top: 20px; right: 20px;
}
@mixin flex {
    display: flex;
    align-items: center;
}
@mixin flexcolonne{
    display: flex;
    flex-direction: column;
}
@mixin flexcenter{
    @include flex;
    justify-content: center;
}
@mixin flexbetween{
    @include flex;
    justify-content: space-between;
}