/* Couleur du projet */
$primaire:#9356DC;
$secondaire:#FF79DA;
$tertiare:#99e2d0;

/* couleur de fond */
$footfond:#424847;
$fondgris:#f5f4f4;

/* couleur texte */
$fondtext:#ffffff;
$lien:black;
$colornews:#2c9c81;

/* couleur d'effet */
$ombre:black;
$shadow:#d6d6d6;
$primaire-opaque:rgb(147, 86, 220, 0.2);

/* contour */
$btnraduis:20px;



