.fonctionnement{
    height: 420px;
    @include padding_bloc;
    .fonctionnement_menu{
        @include flexcenter;
        @include flexcolonne;
        .btn_filtre{
            width: 90%;
            height: 70px;
            background-color: $fondgris;
            border-radius: $btnraduis;
            margin: 15px 0 15px 0;
            @include shadow;
            @include flex;
            &:hover{
                background-color: $primaire;
            }
            .btn_chiffre{
                width: 25px;
                height: 25px;
                background-color: $primaire;
                border-radius: $btnraduis;
                color: $fondtext;
                margin-left: -15px;
                @include flexcenter;
            }
            i{
                margin: 0 25px 0 25px;
                opacity: 0.7;
            }
            span{
                font-weight: bold;
            }
        }
    }  
}