/* Section fonctionnement */
.fonctionnement{
    margin-bottom: 30px;
    @include padding_bloc;
    &_menu{
        @include flexcenter;
        @media (max-width: 1024px){
            @include flexcolonne;
        }
        span{
            font-weight: bold;
        }
    }  
}
/* Section restaurant page de garde */
.section_restaurant{
    background-color: $fondgris;
    @include padding_bloc;
    &_article{
        @include flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        .carte{
            @include shadow;
            border-radius: 15px;
            background-color: $fondtext;
            width: 100%;
            min-width: 300px;
            max-width: 500px;
            margin: 10px;
            @media (min-width: 1680px){
                width: 400px;
            }
            &_img{
                position: relative;
                height: 175px;
                border-radius: 15px 15px 0 0;
                @include block_img;
                span{
                    @include flexcenter;
                    position: absolute;
                    top: 20px; right: 20px;
                    width: 80px;
                    height: 35px;
                    background-color: $tertiare;
                    color: $colornews;
                    font-weight: bold;
                }
            }
            /* bloc texte des cartes de la page de garde */
            &_bloc{
                min-width: 160px;
                position: relative;
                &_text{
                    align-items: flex-start;
                    padding: 10px;
                    flex-direction: column;
                    p{
                        font-size: 18px;
                        margin: 5px;
                    }
                }
            }
        }
    }
}