/* footer */

footer{
    background-color: $footfond;
    height: 200px;
    @include padding_bloc;
    h4{
        font-family: $titre;
        font-size: 24px;
        font-weight: lighter;
        margin: 20px 0 20px 0;
        color: $fondtext;
    }
    ul{
        list-style-type: none;
        a{
            color: $fondtext;
            width: fit-content;
            margin: 10px 0 10px 0;
            @include flexcenter;
            i{
                margin-right: 10px;
                width: 18px;
            }
        }
        
    }
}

