/* header */

header{
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px $ombre;
    .header_arrow{
        font-size: 30px;
        margin-left: 30px;
        position: absolute;
    }
    .header_logo{
        width: 200px;
        display: block;
        margin: auto;
    }
}