.main{
    background-color: $fondgris;
    height: 1500px;
    h2{
        font-size: 17px;
    }
    &_img{
        height: 250px;
        border-radius:0;
        @include block_img;
    }
    &_restau{
        background-color: $fondgris;
        margin-top: -40px;
        border-radius: 35px 35px 0 0;
        position: relative;
        @include padding_bloc;
        @include flexbetween;
        @include flexcenter;
        i{
            font-size: 26px;
            width: 40px;
            @include flexcenter;
        }
    }
    section{
        height: 350px;
        background-color: $fondgris;
        @include flexcolonne;
        @include flexcenter;
        .carte{
            width: 95%;
            height: 70px;
            margin: 10px 0 10px 0;
            cursor: pointer;
            background-color: $fondtext;
            border-radius: $btnraduis;
            @include shadow;
            @include flex;
            animation: menuanimation 1.5s both;
            
            .article{
                width: 85%;
                padding: 5px 0 5px 10px;
                font-size: 14px;
                margin: 5px;
                overflow: hidden;
                white-space: nowrap;
                @include flexcolonne;
                p, h3 {
                    margin: 5px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .prix{
                width: 15%;
                font-weight: bold;
                p{
                    margin: 32px 0 0 0;
                }
            }
            .okmenu{
                display: inline-block;
                width: 0px;
                overflow: hidden;
                @include btn_hover;
                @include flexcenter;
                transition: all 0.4s;
            }
            &:hover{
                .okmenu{
                    width: 80px;
                    i{
                        transform: rotateZ(-360deg);
                        transition: 0.3s;
                    }
                }
            }             
        }
        .plat_1{
            animation-delay: 0.2s;
        }
        .plat_2{
            animation-delay: 0.4s;
        }
        .plat_3{
            animation-delay: 0.6s;
        }
        .plat_4{
            animation-delay: 0.8s;
        }
    }
    .btn_validateur{
        @include flexcenter;
    }
}

@keyframes menuanimation{
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}