.main_bloc{
    background-color: $fondgris;
    height: 1500px;
    a{
        @include btn_valid;
    }
    h2{
        font-size: 17px;
    }
    .img_restau{
        height: 250px;
        border-radius:0;
        @include block_img;
    }
    .main_restau{
        background-color: $fondgris;
        margin-top: -40px;
        border-radius: 35px 35px 0 0;
        @include padding_bloc;
        @include flexbetween;
        @include flexcenter;
        i{
            font-size: 26px;
            width: 40px;
            @include flexcenter;
        }
    }
    section{
        height: 350px;
        background-color: $fondgris;
        @include flexcolonne;
        @include flexcenter;
        article{
            width: 95%;
            height: 70px;
            margin: 10px 0 10px 0;
            cursor: pointer;
            background-color: $fondtext;
            border-radius: 15px;
            @include shadow;
            @include flex;
            i{
                display: none;
            }
            .article_bloctext{
                width: 100%;
                padding: 5px 20px 5px 10px;
                h3{
                    font-size: 16px;
                    margin: 5px;
                }
                .article_text{
                    font-size: 14px;
                    margin: 5px;
                    @include flexbetween;
                    p{
                        margin: 0;
                        font-weight: bold;
                    }
                }
            }            
        }
    
        article:hover{
            i{
                display: flex;
                @include btn_hover;
                @include flexcenter;
            }
        }
    }
    .btn_validateur{
        @include flexcenter;
    }
}