.main{
    background-color: $fondgris;
    h2{
        font-size: 18px;
        &::after {
            content: ".";
            display: block;
            border-bottom: 4px solid $tertiare;
            width: 45px;
            margin-top: 5px;
            font-size: 0px;
        }
    }
    &_img{
        height: 250px;
        border-radius:0;
        @include block_img;
    }
    &_restau{
        background-color: $fondgris;
        margin-top: -40px;
        border-radius: 35px 35px 0 0;
        position: relative;
        @include padding_bloc;
        @include flexbetween;
        i{
            font-size: 26px;
            width: 40px;
            @include flexcenter;
        }
    }

    
    .section{
        justify-content: center;
        @media (min-width: 1024px){
            display: flex;
        }
        &_bloc{
            margin-bottom: 1%;
            background-color: $fondgris;
            @include padding_bloc;
            @media (min-width: 1024px){
                width: 30%;
                flex-direction: row;
            }
    
            .carte{
                @include flexcenter;
                @include flexcolonne;
    
                &_plat{
                    width: 100%;
                    max-width: 680px;
                    height: 70px;
                    margin: 10px 0 10px 0;
                    cursor: pointer;
                    background-color: $fondtext;
                    border-radius: $btnraduis;
                    @include shadow;
                    @include flex;
                    @include flexbetween;
                    animation: menuanimation 1.5s both;
                    
    
                    &_texte{
                        width: 85%;
                        padding: 5px 0 5px 10px;
                        font-size: 14px;
                        margin: 5px;
                        overflow: hidden;
                        white-space: nowrap;
                        @include flexcolonne;
    
                        p{
                            font-size: 16px;
                            @include texteplat;
                        }
                    }
                    &_prix{
                        width: 15%;
                        font-weight: bold;
    
                        p{
                            text-align: right;
                            margin: 32px 15px 0 0;
                        }
                    }
                    &_okmenu{
                        display: inline-block;
                        width: 0px;
                        overflow: hidden;
                        @include btn_hover;
                        @include flexcenter;
                        transition: all 0.4s;
                    }
                    &:hover{
                        .carte_plat_okmenu{
                            width: 80px;
                            i{
                                transform: rotateZ(-360deg);
                                transition: 0.3s;
                            }
                        }
                    }
                }
            }
            
            .plat_1{
                animation-delay: 0.2s;
            }
            .plat_2{
                animation-delay: 0.4s;
            }
            .plat_3{
                animation-delay: 0.6s;
            }
            .plat_4{
                animation-delay: 0.8s;
            }
        }
    }
    .btn_validateur{
        @include flexcenter;
    }
}
@keyframes menuanimation{
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}