.section_3{
    padding: 20px;
    background-color: $fondgris;
    .art_resto{
        border-radius: 15px;
	    background-color: $fondtext;
        box-shadow: 0px 5px 15px 2px #d6d6d6;
        margin-bottom: 20px;
        span{
            position: relative;
            top: 20px; right: -240px;
            width: 80px;
            height: 35px;
            background-color: $tertiare;
            font-weight: bold;
        }
        .art_textbloc{
            height: 80px;
            .art_text{
                margin-left: 15px;
                p{
                    font-size: 18px;
                    margin: 5px 0 5px 0;
                }
            
            }
            i{
                text-align: center;
                font-size: 27px;
                width: 40px;
                margin-right: 25px;
            }
        }
    }
}